* {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  appearance: none;
}

/* Top Nav */
.tgl_icon {
  display: none;
}
.top_nav {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  width: 100vw;
  background-color: white;
  position: fixed;
}
.nav_content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px 0px;
}
.left_area {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0;
}

nav {
  display: flex;
}
.nav_content a {
  margin: 0;
  width: 197px;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding-right: 24px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
}
nav ul {
  width: max-content;
}
hr {
  border: 0.3px solid black;
  width: 90%;
}

/* footer */
footer {
  background-color: black;
  width: 100vw;
  padding-top: 72px;
}
.foot_content {
  width: 100%;
}
.top_sec {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 64px;
}
.top_sec p {
  font-family: "Playfair Display", sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: white;
  width: 50%;
  text-align: center;
}

.top_sec button {
  padding: 16px 50px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: black;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}
.top_sec button:hover {
  background-color: black;
  color: white;
  outline: 1px solid white;
}
.social_links {
  margin: 0px;
}
.social_links img {
  padding-right: 40px;
}
.link_details {
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 24px;
}

.link_details p {
  color: #d2d2d2;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
.back_top {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.back_top a {
  text-decoration: none;
  display: block;
  text-align: center;
}

.foot_low {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  padding-bottom: 64px;
}
.details span a {
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.details span a:hover {
  text-decoration: underline;
}
.back_top a p {
  writing-mode: vertical-rl;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 4px;
}
.details p,
.details span {
  padding-right: 8px;
}

/* back arrow */
.back_arrow {
  background-color: black;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin: 0;
}

/* hero text styling */
.title_hero h1,
.head {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.content,
.title_hero p,
.info {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* hero proper styling */
.hero {
  width: 90%;
  padding-top: 100px;
  padding-bottom: 100px;
}
h1 {
  font-size: 48px;
  margin: 0;
}
.title_hero p {
  font-size: 20px;
  font-weight: 300;
  line-height: 144%;
  margin: 0px;
  width: 65%;
}
.title_hero a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  list-style: none;
  text-decoration: underline;
  margin: 0;
}

.sml_head {
  font-size: 14px;
  color: #5b5b5b;
  margin: 0px;
}
.sml_detail {
  font-size: 24px;
  font-weight: 400;
  margin: 0px;
}

/* hero layout styling */
.left_hero,
.info,
.title_hero {
  display: flex;
  margin: 0px;
}
.hero_content {
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.hero_content img {
  margin: 0px;
}
.left_hero {
  flex-direction: column;
  gap: 64px;
}
.title_hero {
  flex-direction: column;
  gap: 12px;
}

.bottom_hero {
  flex-direction: column;
  gap: 52px;
}

.line1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.2rem;
  margin: 0;
}
.info {
  flex-direction: column;
  gap: 8px;
}

/* Content styling */
/* .case_content {
  width: 90%;
  padding: 84px 0px;
} */

.points {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
/* .head,
.content {
  margin: 0px;
} */

.head {
  font-size: 24px;
  text-align: left;
  width: 40%;
}

.content {
  font-size: 20px;
  line-height: 159%;
  width: 60%;
  text-align: left;
}
span {
  font-weight: 600;
}

.part1,
.part2,
.part3,
.part4,
.part5,
.part6 {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-top: 72px;
  padding-bottom: 72px;
  width: 90%;
}
.img_container {
  display: flex;
  flex-direction: column;
}
.image_row {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  width: 80%;
}
.part4 .image_row img,
.part5 .image_row img {
  margin: 0px;
}
.part4 .img_container,
.part5 .img_container {
  margin: 0px;
}
.points a {
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

/* Responsive view */
@media screen and (min-width: 320px) and (max-width: 400px) {
  /* nav */
  .left_area {
    display: none;
  }
  .logo {
    width: 70%;
  }

  /* hero */
  .back_arrow {
    width: 2rem;
    height: 2rem;
  }
  .hero_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .title_hero {
    width: 100%;
  }
  .title_hero p {
    width: 100%;
  }
  .title_hero :is(p, a) {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .sml_detail {
    font-size: 1rem;
    font-weight: 500;
  }
  .points {
    flex-direction: column;
    margin: 0;
    gap: 1rem;
  }
  .head,
  .content,
  .points {
    width: 100%;
  }
  .content {
    font-size: 1rem;
  }
  .head {
    font-size: 1.5rem;
  }
  .image_row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .image_row img {
    width: 100%;
  }

  /* footer */
  footer {
    padding-top: 3rem;
  }
  .top_sec p {
    font-size: 2rem;
    width: 100%;
  }
  .back_top {
    display: none;
  }
  .foot_content,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details img {
    display: none;
  }
  .link_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_links {
    display: flex;
    gap: 3rem;
  }
  .social_links a {
    display: flex;
    margin: O auto;
    width: 1.2rem;
    height: 1.2rem;
  }
  .social_links img {
    padding: 0;
  }
  .foot_low {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 401px) and (max-width: 480px) {
  /* nav */
  .left_area {
    display: none;
  }
  .logo {
    width: 80%;
  }

  /* hero */
  .back_arrow {
    width: 2rem;
    height: 2rem;
  }
  .hero_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .title_hero {
    width: 100%;
  }
  .title_hero p {
    width: 100%;
  }
  .title_hero :is(p, a) {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .sml_detail {
    font-size: 1rem;
    font-weight: 500;
  }
  .points {
    flex-direction: column;
    margin: 0;
    gap: 1rem;
  }
  .head,
  .content,
  .points {
    width: 100%;
  }
  .content {
    font-size: 1rem;
  }
  .head {
    font-size: 1.5rem;
  }
  .image_row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .image_row img {
    width: 100%;
  }

  /* footer */
  footer {
    padding-top: 3rem;
  }
  .top_sec p {
    font-size: 2.3rem;
    width: 70%;
  }
  .back_top {
    display: none;
  }
  .foot_content,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details img {
    display: none;
  }
  .link_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_links {
    display: flex;
    gap: 3rem;
  }
  .social_links a {
    display: flex;
    margin: O auto;
    width: 1.2rem;
    height: 1.2rem;
  }
  .social_links img {
    padding: 0;
  }
  .foot_low {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  /* nav */
  .left_area {
    display: none;
  }
  .logo {
    width: 85%;
  }
  /* hero */
  .back_arrow {
    width: 2rem;
    height: 2rem;
  }
  .hero_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .title_hero {
    width: 100%;
  }
  .title_hero p {
    width: 100%;
  }
  .title_hero :is(p, a) {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .sml_detail {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .points {
    flex-direction: column;
    margin: 0;
    gap: 1rem;
  }
  .head,
  .content,
  .points {
    width: 100%;
  }
  .content {
    font-size: 1rem;
  }
  .head {
    font-size: 1.5rem;
  }
  .image_row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .image_row img {
    width: 100%;
  }

  /* footer */
  footer {
    padding-top: 3rem;
  }
  .top_sec p {
    font-size: 3rem;
    width: 70%;
  }
  .back_top {
    display: none;
  }
  .foot_content,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details img {
    display: none;
  }
  .link_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_links {
    display: flex;
    gap: 3rem;
  }
  .social_links a {
    display: flex;
    margin: O auto;
    width: 1.2rem;
    height: 1.2rem;
  }
  .social_links img {
    padding: 0;
  }
  .foot_low {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  /* nav */
  .left_area {
    display: none;
  }
  .logo {
    width: 90%;
  }
  /* hero */
  .back_arrow {
    width: 2rem;
    height: 2rem;
  }
  .hero_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .title_hero {
    width: 100%;
  }
  .title_hero p {
    width: 100%;
  }
  .title_hero :is(p, a) {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .sml_detail {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .points {
    flex-direction: column;
    margin: 0;
    gap: 1.3rem;
  }
  .head,
  .content,
  .points {
    width: 100%;
  }
  .content {
    font-size: 1.3rem;
  }
  .head {
    font-size: 1.8rem;
  }
  .image_row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .image_row img {
    width: 100%;
  }

  /* footer */
  footer {
    padding-top: 3rem;
  }
  .top_sec p {
    font-size: 3rem;
    width: 70%;
  }
  .back_top {
    display: none;
  }
  .foot_content,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details img {
    display: none;
  }
  .link_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_links {
    display: flex;
    gap: 3rem;
  }
  .social_links a {
    display: flex;
    margin: O auto;
    width: 1.2rem;
    height: 1.2rem;
  }
  .social_links img {
    padding: 0;
  }
  .foot_low {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 961px) {
  /* nav */
  .left_area {
    display: flex;
  }
  .logo {
    width: 90%;
  }
  /* hero */
  .back_arrow {
    width: 2rem;
    height: 2rem;
  }
  .hero_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .title_hero {
    width: 100%;
  }
  .title_hero p {
    width: 100%;
  }
  .title_hero :is(p, a) {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  .sml_detail {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .points {
    flex-direction: column;
    margin: 0;
    gap: 1.3rem;
  }
  .head,
  .content,
  .points {
    width: 100%;
  }
  .content {
    font-size: 1.3rem;
  }
  .head {
    font-size: 1.8rem;
  }
  .image_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .image_row img {
    width: 100%;
  }
  /* footer */
  footer {
    padding-top: 3rem;
  }
  .top_sec p {
    font-size: 3.5rem;
    width: 70%;
  }
  .back_top {
    display: none;
  }
  .foot_content,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details img {
    display: none;
  }
  .link_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_links {
    display: flex;
    gap: 3rem;
  }
  .social_links a {
    display: flex;
    margin: O auto;
    width: 1.2rem;
    height: 1.2rem;
  }
  .social_links img {
    padding: 0;
  }
  .foot_low {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 962px) and (max-width: 1280px) {
  /* nav */
  .left_area {
    display: flex;
  }
  .logo {
    width: 90%;
  }
  /* hero */
  .back_arrow {
    width: 2rem;
    height: 2rem;
  }
  .hero_content {
    gap: 2rem;
  }
  .title_hero {
    width: 100%;
  }
  .title_hero p {
    width: 100%;
  }
  .title_hero :is(p, a) {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
  .sml_detail {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .points {
    flex-direction: column;
    margin: 0;
    gap: 1.3rem;
  }
  .head,
  .content,
  .points {
    width: 100%;
  }
  .content {
    font-size: 1.3rem;
  }
  .head {
    font-size: 1.8rem;
  }
  .image_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .image_row img {
    width: 100%;
  }
  /* footer */
  footer {
    padding-top: 3rem;
  }
  .top_sec p {
    font-size: 3.5rem;
    width: 70%;
  }
  .back_top {
    display: none;
  }
  .foot_content,
  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details img {
    display: none;
  }
  .link_details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social_links {
    display: flex;
    gap: 3rem;
  }
  .social_links a {
    display: flex;
    margin: O auto;
    width: 1.2rem;
    height: 1.2rem;
  }
  .social_links img {
    padding: 0;
  }
  .foot_low {
    align-items: center;
    justify-content: center;
  }
}
